<ul class='stats-list'>
  <li class='stats-item'>
    <ul class='row-stats-list'>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{wins}}</p>
        <span class='row-stats-span'>Wins</span>
      </li>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{winRate}}%</p>
        <span class='row-stats-span'>WinRate</span>
      </li>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{matches}}</p>
        <span class='row-stats-span'>Matches</span>
      </li>
    </ul>
  </li>
  <li class='stats-item'>
    <ul class='row-stats-list'>

      <li class='row-stats-item'>
        <p class='row-stats-p'>{{top10}}</p>
        <span class='row-stats-span'>Top 10</span>
      </li>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{top25}}</p>
        <span class='row-stats-span'>Top 25</span>
      </li>
    </ul>
  </li>
  <li class='stats-item'>
    <ul class='row-stats-list'>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{kd}}</p>
        <span class='row-stats-span'>K/D</span>
      </li>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{killsPerMatch}}</p>
        <span class='row-stats-span'>Kills/Match</span>
      </li>
      <li class='row-stats-item'>
        <p class='row-stats-p'>{{kills}}</p>
        <span class='row-stats-span'>Kills</span>
      </li>
    </ul>
  </li>
</ul>